<Builder>
  <ProblemCount>J</ProblemCount>
  <RefreshRate>0</RefreshRate>
  <OutputFile>output.html</OutputFile>
  <OutputScript>outputEjudgeStyle.lua</OutputScript>
  <Parsers>
	<EjudgeParser URL="http://ejudge.crimea.edu/ejudge/standings22.html" Style="yellow" />
	<NYParser Path="/home/knightl/index.html" />
  </Parsers>
</Builder>
